<div id="signup-form-wrap">
  <h2>Signup</h2>
  <form id="signup-form">
    <p>
      <input type="email" id="email" name="email" placeholder="Email" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="text" id="name" name="name" placeholder="Name" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" id="validatePassword" name="validatePassword" placeholder="Validate password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="signup" value="signup">
    </p>
  </form>
</div>
